<article class="film-details-card" tabindex="0" [attr.aria-label]="displayTitle + (displayYear ? ' (' + displayYear + ')' : '')" [routerLink]="['/details', item.media_type, item.id]"
>  <div class="film-poster-wrap">
    <img
      class="film-poster"
      [src]="posterSrc"
      [attr.alt]="displayTitle || 'Poster'"
      (error)="setFallback($event)"
      loading="lazy"
      decoding="async"
    />
  </div>

  <div class="film-details">
    <p class="film-title">{{ displayTitle }}</p>
    <p class="film-job">{{ item.job }}</p>
    <p class="film-release-year">{{ displayDate }}</p>
    <p class="film-type">{{ displayType }}</p>
  </div>
</article>