<li class="comment-row">
    <div class="left">
        <img class="profile-picture" [src]="comment.profilePicture" [attr.alt]="comment.username" />
    </div>

    <div class="right comment-grid">
        <div class="comment-main">
            <div class="line">
                <a class="username" [href]="'/account/' + comment.username + '/posts'">{{ comment.username }}</a>

                <span class="content-inline">
                    <ng-container *ngFor="let t of tokensOf(comment.comment)">
                        <ng-container *ngIf="t.handle; else plain">
                            <a class="atted"
                                [class.adjacent]="t.adjacentPrev"
                                [href]="'/account/' + commentModerationService.canonicalizeHandle(t.handle!) + '/posts'">
                                &#64;{{ commentModerationService.canonicalizeHandle(t.handle!) }}
                            </a>
                        </ng-container>

                        <ng-template #plain>{{ t.text }}</ng-template>
                    </ng-container>
                </span> 
            </div>

            <div class="options">
                <span class="likes">{{ comment.likes.length }} {{ comment.likes.length === 1 ? 'like' : 'likes' }}</span>

                <button class="reply-button" type="button" (click)="onReply()">Reply</button>

                <span class="date">{{ formatDate(comment.commentDate) }}</span>
            </div>
        </div>

        <div class="comment-like">
            <button class="icon-btn" (click)="toggleCommentLike()" [attr.aria-pressed]="comment.likes.includes(currentUser.username)">
                <i class="{{ comment.likes.includes(currentUser.username) ? 'bx bxs-like' : 'bx bx-like' }}"></i>
            </button>
        </div>

        <ul class="replies" *ngIf="replies.length">
            <li class="reply" *ngFor="let reply of replies; trackBy: trackReply">
                <app-feed-comment-reply [reply]="reply" (replyRequested)="onReplyRequested($event)"></app-feed-comment-reply>
            </li>
        </ul>
    </div>
</li>