<div class="poster-rows" aria-hidden="true">
  <div class="row r1"><div class="inner"></div></div>
  <div class="row r2"><div class="inner"></div></div>
  <div class="row r3"><div class="inner"></div></div>
  <div class="row r4"><div class="inner"></div></div>
  <div class="row r5"><div class="inner"></div></div>
  <div class="row r6"><div class="inner"></div></div>
  <div class="row r7"><div class="inner"></div></div>
  <div class="row r8"><div class="inner"></div></div>
  <div class="row r9"><div class="inner"></div></div>
  <div class="row r10"><div class="inner"></div></div>
</div>

<nav class="sidebar" [class.active]="sidebarService.sidebarActive()" [class.no-anim]="sidebarService.suppressAnim()">
  <div class="logo-menu">
    <h2 class="logo">What2Watch</h2>
    <i class="bx bx-menu toggle-button" (click)="sidebarService.toggle()"></i>
  </div>

  <ul class="list">
    <li class="list-item">
      <a (click)="routingService.navigateToHome()">
        <i class="bx bx-home-alt"></i>
        <span class="link-name" style="--i:6;">Home</span>
      </a>
    </li>
    
    <li class="list-item">
      <a (click)="routingService.navigateToSearchMovies()">
        <i class="bx bx-search"></i>
        <span class="link-name" style="--i:5;">Search</span>
      </a>
    </li>

    <li class="list-item">
      <a (click)="routingService.navigateToMoviesLibrary()">
        <i class="bx bx-camera-movie"></i>
        <span class="link-name" style="--i:4;">Movies</span>
      </a>
    </li>

    <li class="list-item">
      <a (click)="routingService.navigateToShowsLibrary()">
        <i class="bx bx-collection"></i>
        <span class="link-name" style="--i:3;">Shows</span>
      </a>
    </li>

    <li class="list-item" *ngIf="currentUser() as cu">
      <a (click)="routingService.navigateToAccountsPosts(cu.username)">
        <i class="bx bx-user"></i>
        <span class="link-name" style="--i:2;">Account</span>
      </a>
    </li>

    <li class="list-item active">
      <a (click)="routingService.navigateToSettings()">
        <i class="bx bx-cog"></i>
        <span class="link-name" style="--i:1;">Settings</span>
      </a>
    </li>

    <li class="settings-item">
      <a class="account-info-icon" (click)="routingService.navigateToSettings()">
        <i class='bx bx-info-circle'></i>
        <span class="link-name" style="--i:1;">Account Info</span>
      </a>
    </li>

    <li class="settings-item">
      <a class="privacy-icon" (click)="routingService.navigateToPrivacy()">
        <i class='bx bx-shield-quarter'></i>
        <span class="link-name" style="--i:1;">Privacy</span>
      </a>
    </li>

    <li class="settings-item active">
      <a class="privacy-icon" (click)="routingService.navigateToPrivacyPolicy()">
        <i class='bx bx-clipboard'></i>  
        <span class="link-name" style="--i:1;">Privacy Policy</span>
      </a>
    </li>

    <li class="settings-item">
      <a class="logout-icon" (click)="showLogoutModal = true">
        <i class='bx bx-exit'></i>
        <span class="link-name" style="--i:1;">Log Out</span>
      </a>
    </li>

    <li class="username" *ngIf="currentUser() as cu">
      <p class="link-name" style="--i:1">Signed in as:</p>
      <p class="link-name" style="--i:1">{{ cu.username }}</p>
    </li>
  </ul>
</nav>

<div class="container" [class.active]="!sidebarService.sidebarActive()">
  <div class="policy-container">
    <!-- USE SHARED CONTENT COMPONENT -->
    <app-privacy-policy-content></app-privacy-policy-content>
  </div>
</div>

<app-logout-modal 
  *ngIf="showLogoutModal"
  (confirm)="onLogout()"
  (cancel)="showLogoutModal = false">
</app-logout-modal>