<div class="poster-rows" aria-hidden="true">
  <div class="row r1"><div class="inner"></div></div>
  <div class="row r2"><div class="inner"></div></div>
  <div class="row r3"><div class="inner"></div></div>
  <div class="row r4"><div class="inner"></div></div>
  <div class="row r5"><div class="inner"></div></div>
  <div class="row r6"><div class="inner"></div></div>
  <div class="row r7"><div class="inner"></div></div>
  <div class="row r8"><div class="inner"></div></div>
  <div class="row r9"><div class="inner"></div></div>
  <div class="row r10"><div class="inner"></div></div>
</div>

<nav class="sidebar" [class.active]="sidebarService.sidebarActive()" [class.no-anim]="sidebarService.suppressAnim()">
    <div class="logo-menu">
        <h2 class="logo">What2Watch</h2>
        <i class="bx bx-menu toggle-button" (click)="sidebarService.toggle()"></i>
    </div>

    <ul class="list">
        <li class="list-item">
            <a (click)="routingService.navigateToHome()">
                <i class="bx bx-home-alt"></i>
                <span class="link-name" style="--i:2;">Home</span>
            </a>
        </li>

        <li class="list-item active">
            <a (click)="navigateToTab('all')">
                <i class="bx bx-search"></i>
                <span class="link-name" style="--i:1;">Search</span>
            </a>
        </li>

        <li class="list-item">
            <a (click)="routingService.navigateToLibrary()">
                <i class='bx  bx-list-ul'></i>
                <span class="link-name" style="--i:2;">Library</span>
            </a>
        </li>

        <li class="list-item">
            <a (click)="routingService.navigateToSummary()">
                <i class='bx bx-bar-chart-alt-2'></i>
                <span class="link-name" style="--i:3;">Summary</span>
            </a>
        </li>

        <li class="list-item">
            <a (click)="routingService.navigateToAccountsPosts(currentUser()!.username)">
                <i class="bx bx-user"></i>
                <span class="link-name" style="--i:4;">Account</span>
            </a>
        </li>

        <li class="list-item">
            <a (click)="routingService.navigateToSettings()">
                <i class="bx bx-cog"></i>
                <span class="link-name" style="--i:5;">Settings</span>
            </a>
        </li>

        <li class="username" *ngIf="currentUser() as cu">
            <p class="link-name" style="--i:1">Signed in as:</p>
            <p class="link-name" style="--i:1">{{ cu.username }}</p>
        </li>
    </ul>
</nav>

<div class="container" [class.active]="sidebarService.sidebarActive() === false" [class.no-anim]="sidebarService.suppressAnim()">
    <div class="search-bar">
        <label class="prompt" [class.active]="inputFocused || (searchInput.length > 0)">What did you watch?</label>

        <input
            class="input-enter"
            type="text"
            [(ngModel)]="searchInput"
            name="searchInput"
            (keyup.enter)="onSearch()"
            (focus)="inputFocused = true"
            (blur)="inputFocused = false"
            autocomplete="off"
            required
        />

        <!-- ✅ 5 Tabs -->
        <i class="tab-btn" [class.active]="type==='all'" (click)="navigateToTab('all')">All</i>
        <i class="tab-btn" [class.active]="type==='movies'" (click)="navigateToTab('movies')">Movies</i>
        <i class="tab-btn" [class.active]="type==='shows'" (click)="navigateToTab('shows')">Shows</i>
        <i class="tab-btn" [class.active]="type==='people'" (click)="navigateToTab('people')">People</i>
        <i class="tab-btn" [class.active]="type==='users'" (click)="navigateToTab('users')">Users</i>

        <a class="search" (click)="onSearch()">
            <i class='bx bx-search'></i>
        </a>
    </div>

    <div class="scroll-box">
        <p class="search-warning" [class.active]="showWarning">Nothing Came Up, Try Something Else</p>

        <div *ngIf="type === 'all'" class="searched-mixed">
            <div *ngFor="let item of results">
                <app-searched-film
                    *ngIf="item.media_type === 'movie' || item.media_type === 'tv'"
                    [item]="item"
                ></app-searched-film>

                <app-searched-person
                    *ngIf="item.media_type === 'person'"
                    [item]="item"
                ></app-searched-person>

                <app-searched-user
                    *ngIf="!item.media_type && item.username"
                    [userDetails]="item"
                    class="searched-user"
                ></app-searched-user>
            </div>
        </div>

        <div *ngIf="type === 'movies'" class="searched-mixed">
            <app-searched-film
                *ngFor="let item of results"
                [item]="item"
            ></app-searched-film>
        </div>

        <div *ngIf="type === 'shows'" class="searched-mixed">
            <app-searched-film
                *ngFor="let item of results"
                [item]="item"
            ></app-searched-film>
        </div>

        <div *ngIf="type === 'people'" class="searched-people">
            <app-searched-person
                *ngFor="let item of results"
                [item]="item"
            ></app-searched-person>
        </div>

        <div *ngIf="type === 'users'" class="searched-users">
            <app-searched-user
                *ngFor="let user of results"
                [userDetails]="user"
                class="searched-user"
            ></app-searched-user>
        </div>
    </div>
</div>